:root {
  --background-color: #181830;
  --text-color: rgba(255, 255, 255, 0.85);
  --header-logo-size: 65px;
  --header-v-padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
* {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
#bg-anim {
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  z-index: -100;
}
@keyframes float {
  0% { transform: translateY(0); opacity: 0; }
  5% { opacity: 1; }
  100% { transform: translateY(-100vh); opacity: 0; }
}
.bg-anim__circle {
  position: absolute;
  background: red;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 70%);
  animation: float 8s infinite linear;
  z-index: -100;
  opacity: 0;
}
.welcome__container {
  width: min(400px, calc(100vw - 24px));
  margin: 0 auto;
}
.welcome__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0 64px  0;
  & > * {
    font-size: 1.2em;
    --text-color: #FFFFFFB0;
  }
}
.welcome__logo {
  background: #FFFFFF;
  padding: min(6px, 1.4vw);
  border-radius: 50%;
  width: min(240px, 60vw);
  height: min(240px, 60vw);
}
.welcome__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 52px;
}
.welcome__block, .welcome__link {
  --background-color: #FFFFFF20;
  background-color: var(--background-color);
  border: 1px solid #FFFFFF20;
  border-radius: 12px;
  padding: 16px;
}
.welcome__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    --background-color: #FFFFFF30;
    transform: translate(0, -6px);
    & i {
      --text-color: rgba(255, 255, 255, 0.85);
      transform: scale(1.1);
    }
  }
}
.welcome__link_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 1.4em;
  --text-color: rgba(255, 255, 255, 0.70);
  & i {
    transition: all 0.3s ease;
  }
}
.welcome__link_text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.welcome__link_text__sup {
  font-size: 1.1em;
}
.welcome__link_text__sub {
  font-size: 1em;
  --text-color: rgba(255, 255, 255, 0.60);
}
header {
  background: #FFFFFF20;
  border-bottom: 1px solid #FFFFFF20;
  position: fixed;
  left: 0; right: 0; top: 0;
  backdrop-filter: blur(8px);
}
.content {
  margin-top: calc(var(--header-v-padding) * 2 + var(--header-logo-size) + 2em)
}
.header__title {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 8px 0;
}
.header__title_icon {
  width: var(--header-logo-size);
  height: var(--header-logo-size);
}
.header__title_text {
  font-size: 2em;
}
.container {
  width: min(calc(100vw - 64px), 800px);
  margin-left: auto;
  margin-right: auto;
}
article {
  font-size: 1.2em;
  & h1, & h2, & h3, & p, & ul {
    margin-bottom: 1em;
  }
  & ul {
    list-style-position: inside;
  }
  & p, & ul {
    --text-color: rgba(255, 255, 255, 0.70);
  }
  & a {
    --text-color: rgba(255, 255, 255, 0.85);
    &:hover {
      --text-color: rgba(255, 255, 255, 1);
    }
    &::after {
      content: var(--trailing-icon);
      font-family: "Font Awesome 6 Brands";
    }
    &[href^="https://t.me/"] { --trailing-icon: ' \f2c6'; }
  }
}
article:nth-child(n+2) {
  border-top: 2px dashed #FFFFFF20;
  padding: 48px 0;
}
.schedule {
  margin-top: 0.8em;
  display: grid;
  column-gap: 0.4em;
  grid-template-columns: max-content auto;
}
.not_found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not_found__404 {
  font-size: min(30vh, 15em);
  color: #FFFFFF60;
}
.not_found__text {
  font-size: min(8vh, 2em);
  text-align: center;
}
.not_found__links {
  display: flex;
  font-size: 1.2em;
  margin-top: 1em;
  &::before {
    content: '[\00a0';
  }
  &::after {
    content: '\00a0]';
  }
}

.__flip > img {
  transition: all 0.3s ease-in-out;
}
.__flip:hover > img {
  transform: scaleY(-1);
}
.__nowrap {
  white-space: nowrap;
}
