:root {
  --background-color: #181830;
  --text-color: rgba(255, 255, 255, 0.85);
  --header-logo-size: 65px;
  --header-v-padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 520px) {
  :root {
    font-size: 14px;
  }
}
* {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
header {
  background: #FFFFFF20;
  border-bottom: 1px solid #FFFFFF20;
  position: fixed;
  left: 0; right: 0; top: 0;
  backdrop-filter: blur(8px);
}
.content {
  margin-top: calc(var(--header-v-padding) * 2 + var(--header-logo-size) + 2em)
}
.header {
  display: flex;
  gap: 1em;
  align-items: center;
}
.header__home_link {
  height: calc(var(--header-v-padding) * 2 + var(--header-logo-size));
}
.header__title_icon {
  width: var(--header-logo-size);
  height: var(--header-logo-size);
  padding: var(--header-v-padding) 0;
}
@media screen and (max-width: 520px) {
  .header__title_icon { display: none; }
}
.header__title {
  height: calc(var(--header-v-padding) * 2 + var(--header-logo-size));
  display: flex;
  flex-direction: column;
}
.header__title_text {
  padding-top: var(--header-v-padding);
  font-size: 1.6em;
  flex-grow: 1;
}
.header__navs {
  height: 1.8em;
  display: flex;
  column-gap: 1.4em;
}
.header__navs a {
  font-size: 1.2em;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__navs a.active {
  color: #FFFFFF;
  padding: 0 1.2em;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #FFFFFF20;
  border-left: 1px solid #FFFFFF20;
  border-right: 1px solid #FFFFFF20;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}
.container {
  width: min(calc(100vw - 64px), 800px);
  margin-left: auto;
  margin-right: auto;
}
article {
  font-size: 1.2em;
  margin-bottom: 2em;
}
article * {
  margin-top: 1em;
}
article ul {
  list-style-position: inside;
}
article p, article ul {
  --text-color: rgba(255, 255, 255, 0.70);
}
article figure {
  max-width: 100%;
}
article figure img {
  max-width: 100%;
}
article a {
  --text-color: rgba(255, 255, 255, 0.85);
}
article a:hover {
  --text-color: rgba(255, 255, 255, 1);
}
article a::after {
  content: var(--trailing-icon);
  font-family: "Font Awesome 6 Brands";
}
article a[href^="https://t.me/"] { --trailing-icon: ' \f2c6'; }
article:nth-child(n+2) {
  border-top: 2px dashed #FFFFFF20;
  padding: 48px 0;
}
.schedule {
  margin-top: 0.8em;
  display: grid;
  column-gap: 0.4em;
  grid-template-columns: max-content auto;
}

.__flip > img {
  transition: all 0.3s ease-in-out;
}
.__flip:hover > img {
  transform: scaleY(-1);
}
.__nowrap {
  white-space: nowrap;
}
