:root {
  --background-color: #181830;
  --text-color: rgba(255, 255, 255, 0.85);
  --header-logo-size: 65px;
  --header-v-padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
* {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
header {
  background: #FFFFFF20;
  border-bottom: 1px solid #FFFFFF20;
  position: fixed;
  left: 0; right: 0; top: 0;
  backdrop-filter: blur(8px);
}
.content {
  margin-top: calc(var(--header-v-padding) * 2 + var(--header-logo-size) + 2em)
}
.header__title {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 8px 0;
}
.header__title_icon {
  width: var(--header-logo-size);
  height: var(--header-logo-size);
}
.header__title_text {
  font-size: 2em;
}
.container {
  width: min(calc(100vw - 64px), 800px);
  margin-left: auto;
  margin-right: auto;
}
article {
  font-size: 1.2em;
  & h1, & h2, & h3, & p, & ul {
    margin-bottom: 1em;
  }
  & ul {
    list-style-position: inside;
  }
  & p, & ul {
    --text-color: rgba(255, 255, 255, 0.70);
  }
  & a {
    --text-color: rgba(255, 255, 255, 0.85);
    &:hover {
      --text-color: rgba(255, 255, 255, 1);
    }
    &::after {
      content: var(--trailing-icon);
      font-family: "Font Awesome 6 Brands";
    }
    &[href^="https://t.me/"] { --trailing-icon: ' \f2c6'; }
  }
}
article:nth-child(n+2) {
  border-top: 2px dashed #FFFFFF20;
  padding: 48px 0;
}
.schedule {
  margin-top: 0.8em;
  display: grid;
  column-gap: 0.4em;
  grid-template-columns: max-content auto;
}
.not_found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not_found__404 {
  font-size: min(30vh, 15em);
  color: #FFFFFF60;
}
.not_found__text {
  font-size: min(8vh, 2em);
  text-align: center;
}
.not_found__links {
  display: flex;
  font-size: 1.2em;
  margin-top: 1em;
  &::before {
    content: '[\00a0';
  }
  &::after {
    content: '\00a0]';
  }
}

.__flip > img {
  transition: all 0.3s ease-in-out;
}
.__flip:hover > img {
  transform: scaleY(-1);
}
.__nowrap {
  white-space: nowrap;
}
