{{ define "main" }}
<div id="bg-anim"></div>
<div class="welcome__container">
  <div class="welcome__header">
    <img class="welcome__logo" src="/img/SPFGoLogo.svg">
    <div>Полезные ссылки</div>
  </div>
  <div class="welcome__links">
    {{range .Params.links}}
    <a class="welcome__link" href="{{.href}}" target="_blank">
      <div class="welcome__link_icon">
        <i class="{{.icon}}"></i>
      </div>
      <div class="welcome__link_text">
        <span class="welcome__link_text__sup">{{.name}}</span>
        <span class="welcome__link_text__sub">{{.comment}}</span>
      </div>
      {{if .icon2}}<div class="welcome__link_icon">
        <i class="{{.icon2}}"></i>
      </div>{{end}}
    </a>
    {{end}}
  </div>
</div>
{{ range .Site.Data.welcome.links.countries }}-{{.}}-{{ end }}
<script type="text/javascript" src="/js/background.js"></script>
{{ end }}
