{{ define "main" }}
<div id="bg-anim"></div>
<div class="welcome__container">
  <div class="welcome__header">
    <a href="/"><img class="welcome__logo" src="/img/SPFGoLogo.svg"></a>
    <div>Полезные ссылки</div>
  </div>
  <div class="welcome__links">
    {{$announces := where .Site.RegularPages "Type" "posts"}}
    {{$announces := where $announces ".Params.announce" "!=" nil}}
    {{$announces1 := where $announces ".Params.announce_until" ">=" now}}
    {{$announces2 := where $announces ".Params.announce_until" "==" nil}}
    {{$announces := $announces1 | union $announces2}}
    {{range $announces}}
    <a class="welcome__link" href="{{.RelPermalink}}">{{.Params.announce}}</a>
    {{end}}

    {{range .Params.links}}
    <a class="welcome__link" href="{{.href}}" target="_blank">
      <div class="welcome__link_icon">
        <i class="{{.icon}}"></i>
      </div>
      <div class="welcome__link_text">
        <span class="welcome__link_text__sup">{{.name}}</span>
        <span class="welcome__link_text__sub">{{.comment}}</span>
      </div>
      {{if .icon2}}<div class="welcome__link_icon">
        <i class="{{.icon2}}"></i>
      </div>{{end}}
    </a>
    {{end}}
    <div class="welcome__block">
      <div class="welcome__link_text__sup">Расписание центрального го клуба на&nbsp;Марата&nbsp;48</div>
      <div class="welcome__link_text__sub">
        {{partial "central_club_schedule"}}
      </div>
    </div>
  </div>
</div>
{{ range .Site.Data.welcome.links.countries }}-{{.}}-{{ end }}
<script type="text/javascript" src="/js/background.js"></script>
{{ end }}
