{{define "main"}}
<div class="container">
  <article>
    <h1>Контактная информация</h1>
    <p>
      По любым вопросам: председатель регионального отделения Федерации Го России <strong>Максим Александрович Подоляк</strong>, судья всероссийской категории<br/>
      <i class="fa-solid fa-phone"></i> <a href="tel:+79052065876" target="_blank">+7 905 206-58-76</a><br/>
      <i class="fa-brands fa-telegram"></i> <a href="https://t.me/HrafnkelFreysgodi" class="__noicon" target="_blank">@HrafnkelFreysgodi</a><br/>
      <i class="fa-solid fa-envelope"></i> <a href="mailto:m.podolyak@gofederation.ru" target="_blank">m.podolyak@gofederation.ru</a>
    </p>
    <p>
      Контакты с комитетом по физической культуре и спорту: вице-президент <a href="https://gofederation.ru/" target="_blank">Федерации&nbsp;Го&nbsp;России</a> <strong>Владимир&nbsp;Ильич&nbsp;Горжалцан</strong>, мастер спорта России, судья всероссийской категории<br/>
      <i class="fa-solid fa-phone"></i> <a href="tel:+79643695981" target="_blank">+7 964 369-59-81</a><br/>
      <i class="fa-solid fa-envelope"></i> <a href="mailto:gorzhaltsan@gofederation.ru" target="_blank">gorzhaltsan@gofederation.ru</a>
    </p>
    <p>
      Главный тренер сборной команды Санкт-Петербурга <strong>Эльвина&nbsp;Львовна&nbsp;Кальсберг</strong>, мастер спорта, судья всероссийской категории<br/>
      <i class="fa-solid fa-phone"></i> <a href="tel:+79500437002" target="_blank">+7 950 043-70-02</a><br/>
      <i class="fa-brands fa-telegram"></i> <a href="https://t.me/ElvinaKalsberg" class="__noicon" target="_blank">@ElvinaKalsberg</a><br/>
      <i class="fa-solid fa-envelope"></i> <a href="mailto:alya_go@mail.ru" target="_blank">alya_go@mail.ru</a>
    </p>
    <p>
      Мастер-классы, выездные мероприятия, обучение начинающих: <strong>Дарья&nbsp;Викторовна&nbsp;Леснякова</strong><br/>
      <i class="fa-solid fa-phone"></i> <a href="tel:+79502242056" target="_blank">+7 950 224-20-56</a><br/>
      <i class="fa-brands fa-telegram"></i> <a href="https://t.me/imtqoi" class="__noicon" target="_blank">@imtqoi</a><br/>
      <i class="fa-solid fa-envelope"></i> <a href="mailto:imtqoi@gmail.com" target="_blank">imtqoi@gmail.com</a>
    </p>
    <p>
      Руководитель студенческого направления, соревнования и занятия для студентов, помощь с открытием секций го в ВУЗах: <strong>Павел&nbsp;Александрович&nbsp;Науменко</strong><br/>
      <i class="fa-solid fa-phone"></i> <a href="tel:+79533549793" target="_blank">+7 953 354-97-93</a><br/>
      <i class="fa-brands fa-telegram"></i> <a href="https://t.me/Pavel_Naumenko" class="__noicon" target="_blank">@Pavel_Naumenko</a><br/>
      <i class="fa-solid fa-envelope"></i> <a href="mailto:pavel.naumenko.2000@yandex.ru" target="_blank">pavel.naumenko.2000@yandex.ru</a>
    </p>
    <p>
      Работа сайта<br/>
      <i class="fa-brands fa-github"></i> <a href="https://github.com/M1r7/go-spb" target="_blank">github.com/M1r7/go-spb</a>
    </p>
  </article>
</div>
{{end}}
