{{ define "main" }}
<div id="bg-anim"></div>
<div class="welcome__container">
  <div class="welcome__header">
    <a href="/" aria-label="На главную страницу сайта ФГСПБ">
      {{ readFile "assets/img/SPFGoLogoFull.svg" | safeHTML }}
    </a>
  </div>
  <div class="welcome__links">
    {{$announces := where .Site.RegularPages "Type" "posts"}}
    {{$announces := where $announces ".Params.announce" "!=" nil}}
    {{$announces1 := where $announces ".Params.announce_until" ">=" now}}
    {{$announces2 := where $announces ".Params.announce_until" "==" nil}}
    {{$announces := $announces1 | union $announces2}}
    {{range $announces}}
    <a class="welcome__link" href="{{.RelPermalink}}">
      <div class="welcome__link_icon">
        <i class="fa-solid fa-bullhorn"></i>
      </div>
      <div class="welcome__link_text">
        <span class="welcome__link_text__sup">
          {{.Params.announce}}
        </span>
      </div>
    </a>
    {{end}}

    <a class="welcome__link" href="https://vk.com/spb_game_of_go" target="_blank">
      <div class="welcome__link_icon">
        <i class="fa-brands fa-vk"></i>
      </div>
      <div class="welcome__link_text">
        <span class="welcome__link_text__sup">ВКонтакте</span>
        <span class="welcome__link_text__sub">Федерация Го в Санкт-Петербурге</span>
      </div>
    </a>
    <a class="welcome__link" href="https://t.me/GameGoSPb" target="_blank">
      <div class="welcome__link_icon">
        <i class="fa-brands fa-telegram"></i>
      </div>
      <div class="welcome__link_text">
        <span class="welcome__link_text__sup">Telegram канал</span>
        <span class="welcome__link_text__sub">Расписание центрального <span class="__nowrap">го-клуба</span> и другие новости</span>
      </div>
      <div class="welcome__link_icon">
        <i class="fa-solid fa-bullhorn"></i>
      </div>
    </a>
    <a class="welcome__link" href="https://t.me/+T5-71hL1tBY5NzVi" target="_blank">
      <div class="welcome__link_icon">
        <i class="fa-brands fa-telegram"></i>
      </div>
      <div class="welcome__link_text">
        <span class="welcome__link_text__sup">Группа в Telegram</span>
        <span class="welcome__link_text__sub">Чат канала</span>
      </div>
      <div class="welcome__link_icon">
        <i class="fa-regular fa-comment"></i>
      </div>
    </a>
    <a class="welcome__link" href="/clubs/central_club/">
      <div class="welcome__link_icon">
        <i class="fa-regular fa-calendar"></i>
      </div>
      <div class="welcome__link_text">
        <div class="welcome__link_text__sup">Расписание центрального го-клуба на&nbsp;Марата&nbsp;48</div>
        <div class="welcome__link_text__sub">
          {{partial "central_club_schedule"}}
        </div>
      </div>
    </a>
    <a class="welcome__link" href="/contact/">
      <div class="welcome__link_icon">
        <i class="fa-regular fa-at"></i>
      </div>
      <div class="welcome__link_text__sup">Контактная информация</div>
    </a>
  </div>
</div>
{{ range .Site.Data.welcome.links.countries }}-{{.}}-{{ end }}
{{partial "fingerprint_js" (dict "src" "js/background.js" "defer" true)}}
{{ end }}
